body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d3d3d3;
}

.game-container {
  text-align: center;
}

.player-inputs {
  margin-bottom: 10px;
  border-radius: 5px;
}
.player-inputs input {
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 1rem;
}
.player-inputs button {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

/* optional smooth hide/show */
.player-inputs {
  margin-bottom: 10px;
  transition: opacity 0.3s, height 0.3s;
}
.player-inputs.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.scoreboard {
    margin: 20px auto;
    font-size: 2rem;
    font-weight: 400;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 104px);
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 20px auto;
}

.cell.winner {
  background-color: #90ee90; /* light green highlight */
}


.cell {
  width: 100px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.cell:hover {
  background-color: #b7eeff;
  transition: all 0.2s ease-in;
}

#message {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#resetBtn {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
